.Form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .Title {
    font-size: 3.2rem;
  }
}
