.Form__InputCity {
  margin: 0;
  padding: 0;
  border: 0;
  background: #5dc9f7;
  border-bottom: 1px solid var(--color-main);
  padding: 1rem;
  width: 25%;
  display: inline-block;
  font-family: var(--second-font);
  font-size: 1rem;
  color: var(--color-main);
}
.Form__InputCity::placeholder {
  color: var(--color-main);
}
