.Form__InputCity {
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--color-second);
  border-bottom: 1px solid var(--color-main);
  padding: 0.5rem;
  width: 82%;
  display: inline-block;
  font-family: var(--second-font);
  font-size: 1rem;
  color: var(--color-main);
  margin-bottom: 2rem;
}
.Form__InputCity::placeholder {
  color: var(--color-main);
}
label {
  font-family: var(--second-font);
  font-size: 1rem;
  color: var(--color-main);
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .Form__InputCity {
    width: 100%;
  }
}
